<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <title>Question Play</title>
    <link rel="stylesheet" type="text/css" href="menu.css">
  </head>

  <body>
    <nav class="menu navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <span class="navbar-brand"><a href="/ask">QUESTION</a></span>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/ask">ASK</a></li>
            <li class="active"><a href="/">ANSWER</a></li>
          </ul>
        </div>
    </nav>

    <div class="question">
      {{{body}}}
    </div>

  </body>
</html>
