<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <title>Question Play</title>
    <link rel="stylesheet" type="text/css" href="menu.css">
  </head>

  <body>
    <nav class="menu">
        <div>
          <h1> QUESTION </h1>
        </div>
        <div>
          <ul>
            <li><a href="/ask">ASK</a></li>
            <li><a href="/">ANSWER</a></li>
          </ul>
        </div>
    </nav>

    <div class="question">
      {{{body}}}
    </div>

  </body>
</html>
