<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <nav class="menu">
      <a href="/question">ANSWER</a>
      <a href="/ask">ASK</a>
    </nav>
    <form method="post" action='/api/question/{{{id}}}'>
      {{{content}}}
      <button name = 'yes' type ='submit' value = y>YES</button>
      <button name = 'no' type ='submit' value = n>NO</button>
    </form>
  </body>
</html>
