<div class = "content">
  <p>{{question}}</p>
  <form action="{{action}}" method="post">
    <div class="row">
      <div class="col-xs-6">
        <button type="submit" class="btn btn-primary btn-lg" name="choiceYes" value="yes"><span class="glyphicon glyphicon-thumbs-up"></span>Yes</button>
      </div>
      <div class="col-xs-6">
        <button type="submit" class="btn btn-danger btn-lg" name="choiceNo" value="yes"><span class="glyphicon glyphicon-thumbs-down"></span>No</button>
      </div>
    </div>
  </form>
</div>
