<div class = "content">
  <p>{{question}}</p>
  <form action="{{action}}" method="post">
    <div class="row">
      <div>
        <button type="submit" name="choiceYes" value="yes">Yes</button>
      </div>
      <div>
        <button type="submit" name="choiceNo" value="yes"></span>No</button>
      </div>
    </div>
  </form>
</div>
