<div class="questionPage">
<form action="{{action}}" method="post">
  <div>
    <div class="container">
    <textarea name="question"></textarea>
  </div>
  </div>
  <button type="submit" name="ask">Send!</span</button>
</form>
</div>
