<div class="questionPage">
<form action="{{action}}" method="post">
  <div class="form-group">
    <div class="container">
    <textarea class="form-control" rows="8" name="question"></textarea>
  </div>
  </div>
  <button class="btn btn-default btn-lg" type="submit" name="ask">Send!</span</button>
</form>
</div>
