<div class="result">
<p>{{question}}</p>

<div class="row">
  <div>
    <p><label>yes : {{yes}}</label></p>
  </div>
  <div>
    <p><label>no : {{no}}</label></p>
  </div>
</div>
  <button type="button" class="menu"><a href="/">Others</a></button>
</div>
