<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="menu">
      <a href="/question">ANSWER</a>
      <a href="/ask">ASK</a>
    </nav>
    <form method="post" action={{{action}}}>
      {{{body}}}
    </form>
  </body>
</html>
