.menu {
  background-color: #99FFFF;
  color: 111111;
  text-align: center;
  text-decoration: none;
}
.content {
    background-color: #99FFFF;
    color: 111111;
    text-align: center;
    text-decoration: none;
}
